{% extends 'base.html' %}
{% block title %}Mission {{ current_mission.number }} {% endblock %}

{% block content %}
{% if character.belongs_to == request.user %}
<br>
<div id="mission_number">
    Mission {{ current_mission.number }}
</div>
<div >
    <a href="{% url 'mission_select' character.id %}" class="btn btn-danger" id="back">BACK</a>
</div>
<div id="container">
    <!-- HERO STATUS SECTION-->
    <div id="herostatus">
        <div id="avatar">
            <img src="{{ character.avatar }}"  alt="avatar" height="80" width="80">
        </div>
        <p class="leftmargin"> {{ character.name }} </p>
        <div id="character_details" class="leftmargin">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress_bar_hp }}%" aria-valuenow="{{ character.current_hp }}" aria-valuemin="0" aria-valuemax="{{ character.hp }}"></div>
            </div>{{ character.current_hp }} / {{ character.hp }} HP
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ progress_bar_mana }}%" aria-valuenow="{{ character.current_mana }}" aria-valuemin="0" aria-valuemax="{{ character.mana }}"></div>
            </div>{{ character.current_mana }} / {{ character.mana }} Mana
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ progress_bar_stamina }}%" aria-valuenow="{{ character.current_stamina }}" aria-valuemin="0" aria-valuemax="{{ character.stamina }}"></div>
            </div>{{ character.current_stamina }} / {{ character.stamina }} Stamina
            <br><hr>
            <p style="text-align: left"><i class="fas fa-fire"></i> Attack damage: {{ character.attack_dmg }}</p>
            <p><i class="fas fa-shield-alt"></i> Defence: {{ character.defence }}</p>
            <p><i class="fas fa-heart"></i> Max HP: {{ character.hp }}</p>
            <p><i class="fas fa-praying-hands"></i> Max mana: {{ character.mana }}</p>
            <p><i class="fas fa-running"></i> Max stamina: {{ character.stamina }}</p>
            <p><i class="fas fa-bomb"></i> Cricital chance: {{ character.critical_chance }}%</p>
        </div>
    <!-- Backpack -->
    </div>
    <div id="backpack">
        <div id="backpack_details" >
            Backpack
            {% for item, quantity in backpack.items %}
                {% if item.category == 7 or item.category == 0 %}
                    <img src="{{ item.picture }}" alt="NO PIC!" title="{{ item.description }}" height="64" width="64" class="item_pic">
                      <div class="pic_quantity">{{ quantity }}</div>
                            <form method="post">
                                {% csrf_token %}
                                {% if item.name != "Arrows" %}
                                    <button type="submit" class="badge badge-info"  style="height: 20px; width: 4rem; font-family: 'News Cycle', sans-serif;"
                                      name="equip" value="{{ item.name }}">Use</button>
                                {% else %}
                                    <br>
                                {% endif %}
                            </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- MONSTER STATUS SECTION -->
    <div id="monsterstatus">
        <img src="{{ monster.picture }}"  alt="Knight_avatar" height="100" width="100" style="border: solid 3px; float: right;">
        <div>
            <p class="rightmargin" style="font-size: 24px; margin-right: 110px;">{{ monster.name }}</p>
                <div class="progress" style="margin-top: 80px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ monster_progress_bar_hp }}%" aria-valuenow="{{ monster.current_hp }}" aria-valuemin="0" aria-valuemax="{{ monster.max_hp }}"></div>
                </div>
        </div>
        <p class="rightmargin">{{ monster.current_hp }} / {{ monster.max_hp }} HP</p>

        {% if monster.max_mana > 10 %}
        <!-- It's ugly, but it works... #TODO: Find way to make it better! -->
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: {{ monster_progress_bar_mana }}%" aria-valuenow="{{ monster.current_mana }}" aria-valuemin="0" aria-valuemax="{{ monster.max_mana }}"></div>
        </div>
        <p class="rightmargin">{{ monster.current_mana }} / {{ monster.max_mana }} Mana</p><hr>
        {% endif %}
        <p class="rightmargin"><i class="fas fa-fire"></i> Attack damage: {{ monster.attack_dmg }}</p><hr>
        <p class="rightmargin"><i class="fas fa-shield-alt"></i> Defence: {{ monster.defence }}</p><hr>
        <p class="rightmargin"><i class="fas fa-bomb"></i> Cricital chance: {{ monster.critical_chance }}%</p><hr>
        <p id="monster_description">"{{ monster.description }}"</p>
    </div>
    <!-- ACTION SECTION -->
    <div id="actionmenu">
        <div id="actiontext">
            <div id="tothebottom">
                {% if battle_course != None %}
                    <p>{{ battle_course }}</p>
                {% endif %}
                {% if monster_message != None %}
                    <p style="color: red;">{{ monster_message }}</p>
                {% endif %}
            </div>
        </div>
        {% if character.current_hp > 0 and monster.current_hp > 0 %}
        <div id="basicaction">
            <div id="attackbutton">
                <form method="post">
                {% csrf_token %}
                    <button type="submit" name="attack" id="attack">
                        ATTACK
                    </button>
                </form>
            </div>
            <div id="defendbutton">
                <form method="post">
                {% csrf_token %}
                    <button type="submit" name="defend" id="defend">
                        DEFEND
                    </button>
                </form>
            </div>
        </div>
        <!-- special attacks -->
        <div id="specialaction">
            <div id="specialattackbox">
                <div id="special">Special</div>
                    <form method="post">
                    {% csrf_token %}
                        <button type="submit" name="special" id="specialattack">
                            <img src="{{ character.special_attack_pic }}">
                        </button>
                    </form>
                <p id="special_description">
                    <i class="fas fa-exclamation"></i> Uses 35 mana<br>
                    <i class="fas fa-exclamation"></i> Deals 3x damage<br>
                    <i class="fas fa-exclamation"></i> It's awesome!<br>
            </div>
            <!-- information for player -->
            <p class="tothebottom">
                <i class="far fa-lightbulb"></i> After every action the monster tries to attack you.<br>
                <i class="far fa-lightbulb"></i> Try to not refresh the page.
            </p>
        </div>

        <!-- fight end -->
        {% else %}
            {% if monster.current_hp == 0 %}
            <p class="endfight"> You won!</p>
            <div id="wonbutton">
                <form method="post">
                {% csrf_token %}
                    <button type="submit" name="won" id="won">
                        AWESOME
                    </button>
                </form>
            </div>
            {% endif %}
            {% if character.current_hp == 0 %}
            <p class="endfight"> You lost!</p>
            <div id="lostbutton">
                <form method="post">
                {% csrf_token %}
                    <button type="submit" name="lost" id="lost">
                        Try again
                    </button>
                </form>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>


{% else %}
<div class="alert alert-danger" role="alert">
  You are trying to play character, which doesn't belong to you!
</div>
<div style="text-align: center;">
  <a href="{% url 'game' %}" class="btn btn-danger" style="width: 100px;">Back</a>
</div>
{% endif %}
{% endblock %}

