{% extends 'base.html' %}
{% block  title %}aboutme{% endblock %}

{% block content %}


<center><br>
  <div class="card text-white bg-dark mb-3 border-dark mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4" >
        <img src="http://www.ronczo.webd.pro/media/photo.jpg"  class="card-img" alt="myphoto" id="verticalphoto">
        <a href="https://www.linkedin.com/in/marcin-jarosi%C5%84ski-09b041178/"> <i class="fab fa-linkedin fa-2x" id="vertical" style="left: 30%;"></i></a>
        <a href="https://github.com/Ronczo"> <i class="fab fa-github fa-2x" id="vertical" style="left: 70%;"></i></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Marcin Jarosiński - About me</h5>
          <p> I am a self-educated developer</p>
          <p style="text-align: left"> I have master's degree in economics and I am an experienced employee in sales department.</p><hr>
          <p style="text-align: left"> I made my first steps in programming when I was teenager. I made a simple website using HTML and CSS,
             based on a template, which i found on the Internet. That experience helped me make the decision
             to become a programmer. At the end of 2019 I started learning Python.
             When I learned the basics of Python I started to develop my skills with django framework.
             There is still a lot to do, but I am very eager to learn new things.</p>
          <p>This is my first public shared project</p>
        </div>
      </div>
    </div>
  </div>
</center>

{% endblock %}