{% extends 'base.html' %}
{% block  title %}aboutme{% endblock %}

{% block content %}

<br>
<center>
<div class="card text-white bg-dark mb-3 border-dark mb-3" style="width: 24rem;">
  <div class="card-body ">
      <h5 class="card-title">Are you sure you want to delete "{{ character.name }}"?</h5>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger ">Delete</button>
          </form>
      </div>
    <a href="{% url 'game' %}" class="btn btn-success">Back</a>
  </div>
</center>

{% endblock %}