{% extends 'base.html' %}
{% load bootstrap %}
{% block  title %}Create character{% endblock %}

{% block content %}
<center>
    <br>
<div class="card text-white bg-dark mb-3 border-dark mb-3" style="width: 24rem;">
  <div class="card-body ">
      <h4>New hero</h4>
          <form method="post">
            {% csrf_token %}
            {{ New_character_form|bootstrap  }}
            <button type="submit" class="btn btn-success ">Create!</button>
          </form>
      </div>
  </div>
</center>
{% endblock %}