{% extends 'base.html' %}
{% block  title %}home{% endblock %}

{% block content %}

<center>
    <div class="card" style="width: 100rem; height: 11rem;
        background-color:
        rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);">
                <div class="card-body" >
            {% if user.is_authenticated %}
                        <p class="card-text" ><a href="game" id="play"><i class="fas fa-play-circle fa-7x" id="play" style="color:#9ec8d6"></i></p></a>

            {% else %}
                        <p class="card-text" style="color:#9ec8d6"><i class="fas fa-sign-in-alt fa-4x"></i></p>
                        <h1 style="color:#9ec8d6">Log in required</h1>
            {% endif %}
                </div>
    </div>
</center>



{% endblock %}
