{% extends 'base.html' %}
{% block  title %}Character overview{% endblock %}

{% block content %}
<br>
<center>
    <div class="card text-white bg-dark mb-3 border-dark mb-3" style="width: 24rem;">
      <div class="card-body ">
        <h4>Special Thanks for</h4>
        <h5>English language corrections:</h5>
        <p><a href="https://www.linkedin.com/in/wojciechjurgielewicz/">Wojciech Jurgielewicz</a></p>

        <h5>Using your pictures:</h5>
        <p><a href="http://www.freepik.com">Designed by Freepik</a></p>
        <p><a href="http://www.freepik.com">Designed by ddraw / Freepik</a></p>
        <p><a href="http://www.freepik.com">Designed by Freepik</a></p>
        <p><a href="http://www.freepik.com">Designed by ddraw / Freepik</a></p>
        <p><a href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a></p>
        <p><a href="http://www.freepik.com">Designed by Freepik</a></p>
        <p><a href="http://www.freepik.com">Designed by Freepik</a></p>
        <p><a href="https://www.vecteezy.com/free-vector/sorcerer">Sorcerer Vectors by Vecteezy</a></p>
        <p><a href="https://www.vecteezy.com/free-vector/bow">Bow Vectors by Vecteezy</a></p>
        <p><a href="https://www.vecteezy.com/free-vector/sceptre">Sceptre Vectors by Vecteezy</a></p>
        <p><a href="https://www.vecteezy.com/free-vector/sorcerer-wand">Sorcerer Wand Vectors by Vecteezy</a></p>
        <p><a href="https://www.vecteezy.com/free-vector/wand-magician">Wand Magician Vectors by Vecteezy</a></p>

      </div>
    </div>
</center>
{% endblock %}