body {
  background-image: url('http://www.ronczo.webd.pro/media/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#welcome {
    font-size: 20px;
    color: #f5f5f5;
    Didot, serif;
    display: flex;
    align-items: center
}

#vertical {
        position: absolute;
        top: 51%;
        left: 100px;
        transform: translate(-50%, -50%);
}

#verticalphoto {
        position: absolute;
        top: 25%;
        left: 50%;
        margin-right: -50%;
        margin-left: 10px;
        transform: translate(-50%, -50%);
        border-width: 3px;
        border-style: ridge;

}

#play {
    a:hover box-shadow: inset 300px 0 0 #e06666;
    transition: all 2s;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

hr.overview {
    border-top: 1px;
    solid #9ec8d6;
}

#guest_book {
    background-color: rgba(0, 0, 0, 0.85);
    margin: auto;
    color: white;
    width: 40%;
    overflow: auto;
    border: solid 3px;
    border-color: #245775;
    margin-top: 10px;
    text-align: center;

}

#headline {
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
}

.registry_text {
    border: solid 1px;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    text-align: left;
    padding: 15px;
    margin: 0 10px;
}

.date {
    margin-left: 20px;
    font-family: 'Belleza', sans-serif;
}

.signature {
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    text-align: right;
    margin-right: 20px;
}


