#briefing-text {
    background-color: rgba(0, 0, 0, 0.85);
    margin: auto;
    color: white;
    width: 95%;
    overflow: auto
}

#description {
    margin: 10px;
    margin-right:0px;
    color: #9ec8d6;
    font-family: 'Pirata One', cursive;
    font-size: 22px;
}

.briefing-title {
    font-size: 32px;
}

.briefing-description {
    margin-left: 10px;
}

#map {
    float: right;
    position: relative;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.button {
    position: absolute;
    top: 35%;
    left: 42%;
    color: red;
    font-family: 'Pirata One', cursive;
    background-color: rgba(37, 57, 64, 0.70);
    border: 3px;
    font-size: 32px;
    border-radius: 4px;
}

#position1 {
    position: absolute;
    top: 55%;
    left: 65%;
    color: red
}

#buttonposition {
    position: absolute;
    left: -45%;
    font-size: 22px;
    font-family: 'Luckiest Guy', cursive;
}

#position2 {
    position: absolute;
    top: 56%;
    left: 45%;
    color: red
}

#position3 {
    position: absolute;
    top: 41%;
    left: 19%;
    color: red
}

#position4 {
    position: absolute;
    top: 34%;
    left: 32%;
    color: red
}

#position5 {
    position: absolute;
    top: 41%;
    left: 77%;
    color: red
}

#position6 {
    position: absolute;
    top: 24%;
    left: 60%;
    color: red
}

#position7 {
    position: absolute;
    top: 5%;
    left: 22%;
    color: red
}