#container {
    margin: 2% 3%;
}

#herostatus {
    width: 21%;
    height: 550px;
    float: left;
}


#herostatus, #actionmenu, #monsterstatus, #mission_number {
    border: solid 3px;
    border-color: #448aa2;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    padding: 15px;
    color: #9ec8d6;
}

#actionmenu {
    width: 40%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    border: dotted 3px;
}

#monsterstatus {
    width: 25%;
    height: 550px;
    float: right;
    border-color: #990000;
}

#mission_number {
    margin-top: 40px;
    width: 400px;
    text-align: center;
    margin: auto;
    border-color: #245775;
    font-family: 'Belleza', sans-serif;
    font-size: 23px;
}

#avatar {
    border: solid 2px;
    border-color: #448aa2;
    width: 84px;
    height: 84px;
    float: left;
    position: relative;
}

.leftmargin {
    margin-left: 100px;
    font-size: 24px;
    font-family: 'Skranji', cursive;
}

#character_details {
    font-family: 'Poller One', cursive;
    font-size: 16px;
    position: absolute;
    margin-top: 40px;
    margin-left: 0px;
}

.rightmargin {
    text-align: right;
    color: #990000;
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Skranji', cursive;
}